body{ 
	margin:0px;
	padding:0px;
	background-color:#26B1B6;
	font-family:"Comic Sans MS",cursive;
	}
.intro{
	margin:150px 0px;
	display:block;
	text-align:center;
	}
.intro-img-circle{
	width:256px;
	height:256px;
	position:relative;
	border-radius:50%;
	margin:10px 0px;
}
section.info{	
	width:100%;
	margin:0 auto;
	clear:both;
	text-align:center;	
}
h1 {
	font-size:36px;
	text-shadow:7px 7px 7px #395A57;
}
h3,h4{	display:block; font-family:"Comic Sans MS",cursive;}
#intro-skill{
	width:100%;
	height:700px;	
	background-size:100%;
	background-repeat:no-repeat;
	background-image:url('../images/back.png');	
}
.skill {
	width:500px;
	float:left;
	position:relative;
	padding-left:10px;
	margin:50px 100px;
	border-left:solid 2px grey;
}
aside.intro-skill-content{  
	
	font-size:18px;
	font-weight:bold;
	display:block;
	padding:110px 80px 80px;
}
#ballon-right{
	right:20px;
	float:right;
	position:relative;
}
#ballon-left{
	width:150px;
	height:200px;
	margin-left:-600px;	
	position:relative;
}
.ballon{
        animation:ballonanimation 15s;
	-moz-animation:ballonanimation 15s;		/* Firefox */
	-webkit-animation:ballonanimation 15s;		/* Safari 和 Chrome */
	-o-animation:ballonanimation 15s;		/* Opera */ 		
	animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
	-o-animation-iteration-count:infinite;
}
@keyframes ballonanimation
{
0%	{left:0px; top:0px;}
100%	{right:10px; top:-285px;} 	
}
@-moz-keyframes ballonanimation		/* Firefox */
{
0%	{left:0px; top:0px;}
100%	{right:10px; top:-285px;}
}
@-webkit-keyframes ballonanimation		/* Safari 和 Chrome */
{
0%	{left:0px; top:0px;}
100%	{right:10px; top:-285px;}
}
@-o-keyframes ballonanimation		/* Opera */ 
{
0%	{left:0px; top:0px;}
100%	{right:10px; top:-285px;}
}
.cloud{
	width:370px;
	position:relative;
        animation:cloudanimation 25s;
	-moz-animation:cloudanimation 25s;		/* Firefox */
	-webkit-animation:cloudanimation 25s;		/* Safari 和 Chrome */
	-o-animation:cloudanimation 25s;		/* Opera */ 		
	animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
	-o-animation-iteration-count:infinite;
	}
@keyframes cloudanimation
{
0%	{left:0px; top:0px;}
100%	{left:280px; top:0px;}
}
@-moz-keyframes cloudanimation		/* Firefox */
{
0%	{left:0px; top:0px;}
100%	{left:280px; top:0px;}
}
@-webkit-keyframes cloudanimation		/* Safari 和 Chrome */
{
0%	{left:0px; top:0px;}
100%	{left:280px; top:0px;}
}
@-o-keyframes cloudanimation	/* Opera */ 
{
0%	{left:0px; top:0px;}
100%	{left:280px; top:0px;}
}
div.line{
	width:auto;
	height:40px;
	margin-bottom:30px;
	margin-left:40%;
	padding-left:70px;
	background-repeat:no-repeat;
	background-image:url('../images/line.png');
}
.line-click {
	height:40px;
	margin-left:180px;
	position:absolute;
}
span.line-click{  display:none;}
.line:hover span.line-click{  display:block;}
.learnMore{  padding-bottom:20px;}
.learnMore a img{
	width:60px;
	height:60px; 
	margin-left:16%;
	opacity:0.3;
}
footer img:hover{  opacity:1;}
h3 a:link{	color:#D5CF5F;}
h3 a:visited{  color:black;}
h3 a:hover{  text-decoration:none; color:#E9A631;}
h3 a:active{  color:#2ECE6E;}

